:root {
  --primary-bg: #576490;
  --secondary-bg: #7796cb;
  --tertiary-bg: #a3bcf9;
  --primary-card: #c9cad9;
  --secondary-card: #d1d2f9;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--primary-bg);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.header {
  background-color: var(--secondary-bg);
  height: 5rem;
  width: 100%;
  position: fixed;
  top: 0;
}

.mainPage {
  display: flex;
  flex-direction: row;
  margin: 5rem 0 4rem;
}

.sideBar {
  background-color: var(--tertiary-bg);
  position: fixed;
  top: 5rem;
  width: 10rem;
  bottom: 4rem;
}

.tasks {
  margin: 1rem 11rem;
  display: flex;
  flex-direction: column-reverse;
  row-gap: 1rem;
}

.taskCard {
  padding: 2rem;
  background-color: var(--secondary-card);
  border-radius: 10px;
  width: 15rem;
  height: 3rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.taskCard h2 {
  margin: 0;
}

.checkbox {
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 5px;
  border: solid 3px red;
  text-align: center;
}

.checkbox.checked {
  border: solid lightgreen;
  background-color: lightgreen;
}

.footer {
  background-color: var(--secondary-bg);
  height: 4rem;
  position: fixed;
  bottom: 0;
  width: 100%;
}
